*{
    margin: 0;
    padding: 0;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3%;
    background-color: rgb(24, 24, 24);
    box-sizing: border-box;
}
/* #banner{
    background-image: linear-gradient(rgba(0,0,0.5),rgba(39, 188, 199)), url(https://thumbs.dreamstime.com/b/cheerful-man-standing-tuk-taxi-sri-lankan-148838457.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 500px;
    width: 100%; 
}*/
.logo{
    cursor: pointer;
}
#cont2{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
#inline{
    display: inline-flex;
    justify-content: space-between;
}
#header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#cont1
{
    font-family: Zen Tokyo Zoo ;
    color: rgb(253, 118, 8);
    font-size: 50px;
    margin-top: 20px;
    margin-left: 0px;
    display:inline-flex;
    cursor: pointer;
}
#font2
{
    margin-top: 25px;
    margin-left: 0px;
}
#img1
{
    height: 100px;
    width: 185px;
}
/* #font1
{  
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    color:rgb(72, 128, 233);
    word-spacing: 5px;
    padding-right: 0px;
} */
#nav ul{
    list-style-type: none;
    display: none;
}
#account{
    color: #C8C8C8;
    height: 40px;
    width: 40px;
}
#account:hover{
    color: cyan;
    cursor: pointer;
}
#account:hover #nav{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 0px;
    transition: all 0.5s ease;
}
#account:hover #nav ul{
    display: block;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
}
#account:hover #nav ul li{
    margin: 10px;
    padding: 20px;
    background: transparent;
    border-bottom: 1px solid white;
}
#account:hover #nav ul li:last-child{
    border-bottom: none;
}
.dashboard{
    padding: 0px 5px;
    color: white;
    transition: 0.3s ease 0s;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;  
    text-align: left;
}
.dashboard:hover{
    color: cyan;
}
.contents ul li a{
    padding: 20px 5px;
    color: white;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}
.contents ul {
    transition: 0.3s ease 0s;
    list-style-type: none;
    cursor: pointer;
}
.contents ul li a:hover{
    color: cyan;
}
nav label i{
    color: white;
    font-size: 20px;
    margin-right: 20px;
    padding-left: 30px;
    align-items: center;
    cursor: pointer;
}
nav label i:hover{
    color: cyan;
}
@media (max-width: 100vw){
    .contents ul{
        position: fixed;
        right: -100%;
        background-color: rgb(43, 43, 43);
        color: aliceblue;
        top: 120px;
        display: block;
        text-align: center;
        height: auto;
        width: 160px;
        border-radius: 15px;
        transition: all 0.4s ease;
    }
}
#click:checked ~ .contents ul{
    right: 0%;
    margin-right: 15px;
}
#click{
    display: none;
}
.button
{
    background-color: green;
    color: aliceblue;
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    border-radius: 13px;
    transition: 0.7s;
    margin: 5px;
    cursor: pointer;
    border: 0;
    outline: none;
}
button:hover
{
    background-color:rgb(72, 128, 233);
}

input
{
   font-family: Montserrat; 
}
#cont3
{
    font-family: Paprika ;
    font-size: 60px;
    color: rgb(26, 99, 160);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
#a
{
    animation: pop 1s;

}
#b
{
    animation: pop 1.5s;
}
#c
{
    animation: pop 2s;
}
#d
{
    animation: pop 2.5s;
}
#e
{
    animation: pop 3s;
}
#f
{
    animation: pop 3.5s;
}
@keyframes pop
{
    0%
    {
        filter: blur(50px);
        margin-inline-start: 50px;
    }
    100%
    {
        filter: blur(0px);
        margin-inline-start: 0px;
    }
}
.intro1{
    margin-top: 10%;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    color: black;
    margin-left: 35px;
}
.intro2{ 
    margin-top: 7%;
    font-family: Paprika;
    font-size: 50px;
    font-weight: 900;
    color: rgb(158, 197, 16);
    margin-left: 45px;
    padding-top: 7px;
}
.intro3{
    height: 270px;
    width: 330px;
    padding-right: 7%;
    margin-top: 0%;
}
.intro4{
    margin-top: 7%;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    color: black;
    margin-left: 35px;
}
.intro5{
    height: 370px;
    width: 400px;
    margin-left: 3%;
    margin-top: 7%;
}
#align2{
    display: flex;
    flex-direction: column;
}
#align3{
    display: inline-block;
    display: flex;
    justify-content: space-between;
}
.intro6{ 
    margin-top: 25%;
    font-family: Paprika;
    font-size: 50px;
    font-weight: 900;
    color: rgb(158, 197, 16);
    margin-right: 5px;
}
.intro7{
    margin-top: 9%;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    color: black;
    margin-right: 5px;
}
#align4{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    justify-content: space-between;
}
#align5{
    display: inline-block;
    display: flex;
    justify-content: space-between;
}
#align6{
    display: inline-block;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
#align4 ul{
    list-style: none;
}
#align2 ul{
    list-style: none;
}
#space{
    margin-top: 5%;
}
.size{
    height: 150px;
    width: auto;
    margin-left: 4%;
    margin-top: 0%;
}
.Booking{
    font-family: Paprika ;
    font-size: 40px;
    color: rgb(158, 197, 16);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.main-container{
    width: 750px;
    height: auto;
    padding: 24px 24px 24px 16px;
    margin: 5% auto;
    background: #1d3f50;
    overflow: hidden;
    border-radius: 20px;
}
.btn-container{
    width: 279px;
    margin: 30px auto;
    position: relative;
    box-sizing: content-box;
    box-shadow: 0 0 15px 3px #C8C8C8;
    border-radius: 30px;
}
.main-btn{
    font-family:Montserrat ;
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: aliceblue;
    border-radius: 15px;
}
#btn-container{
    top: 0;
    left: 0;
    position: absolute;
    width: 255px;
    height: 100vh;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;
}
.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#bas{
    display: flex;
    align-items: center;
    position: relative;
    left: 130px;
}
#bfh{
    display: flex;
    align-items: center;
    position: relative;
    left: 830px;
}
/* footer starts from here */
footer
{
    background-color: rgb(33, 33, 33);
    height: auto;
    width: auto;
    padding-top: 40px;
    color: aliceblue;
}
.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.social
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
    padding: 30px 40px;
}
.social li
{
    margin: 0 10px;

}
.icon{
    height: 30px;
    width: 55px;
    transition: 0.7s;
    cursor: pointer;
    font-size: 25px;
}
.icon :hover{
    color: aqua;
}
#cont4
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.brand
{
    font-family: Paprika;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}
.brand1
{
    font-family:  Zen Tokyo Zoo;
    font-size: 35px;
    display: flex;
    justify-content: center;
}  
.sub
{
    background-color: rgb(249, 250, 249);
    color: black;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 5px;
    transition: 0.7s;
    display: inline-block;
}
body
{
    background-color: white;

}
#dashboard{
    display: inline-block;
}