.thanks
{
    font-family: Paprika;
    font-size: 60px;
    height: 100vh;
    width: auto;
    font-weight: 300;
    color: rgb(44, 146, 235);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer
{
    background-color: rgb(33, 33, 33);
    height: auto;
    width: auto;
    padding-top: 10px;
    color: aliceblue;
}
.brand
{
    font-family: Paprika;
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.brand1
{
    font-family:  Zen Tokyo Zoo;
    font-size: 35px;
    display: flex;
    justify-content: center;
}