p
{
    font-family: Train One ;
    font-size: 70px;
    margin-top: 0cm;
    font-weight: 300;
    color: aliceblue;
    background-color: rgb(25, 118, 240);
    justify-content: center;
    align-items: center;
    display: flex;
}