.align1{
    display: flex;
    flex-direction: row;
}
#cont2
{
    margin-left: 670px;
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
#font1
{  
    font-family: Paprika;
    font-size: 23px;
    font-weight: 600;
    color:rgb(72, 128, 233);
    word-spacing: 5px;
}
#cont1
{
    font-family: Zen Tokyo Zoo ;
    color: aqua;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}
#font2{
    margin-top: 25px;
    margin-left: 0px;
}
#img1
{
    height: 100px;
    width: 175px;
}
input
{
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    border-radius: 13px;
    transition: 0.5s;
    margin: 5px;
}
input:hover
{
    background-color:rgb(72, 128, 233);
    font-size: 14px;
}
#cont3
{
    font-family: Paprika ;
    font-size: 60px;
    color: rgb(72, 128, 233);
    font-weight: 600;
    margin-left: 270px;
    margin-top: 60px;
}
#a
{
    animation: pop 1s;
}
#b
{
    animation: pop 1.5s;
}
#c
{
    animation: pop 2s;
}
#d
{
    animation: pop 2.5s;
}
#d
{
    animation: pop 3s;
}
#e
{
    animation: pop 3.5s;
}
#f
{
    animation: pop 4s;
}
@keyframes pop
{
    0%
    {
        filter: blur(60px);
        margin-left: -1000px;
    }
    100%
    {
        filter: blur(0px);
        margin-left: 0px;
    }
}
#inst
{
    height: 80px;
    width: 70px;
}
#face
{
    height: 65px;
    width: 80px;
}
#twit
{
    height: 50px;
    width: 60px;
}
#cont4
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0cm;
    flex-direction: row;
}
.brand
{
    font-family: Paprika;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-weight: 600;
}