*{
    margin: 0;
    padding: 0;
}
.align1{
    display: flex;
    flex-direction: row;
    background-color: rgb(24, 24, 24);
}
#cont2
{
    margin-left: auto;
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
#font1
{  
    font-family: Paprika;
    font-size: 23px;
    font-weight: 600;
    color:rgb(72, 128, 233);
    word-spacing: 5px;
}
#cont1
{
    font-family: Zen Tokyo Zoo ;
    color: rgb(253, 118, 8);
    font-size: 50px;
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}
#font2{
    margin-top: 25px;
    margin-left: 0px;
}
#img1
{
    height: 100px;
    width: 175px;
}
input
{
    border: none;
    background-color: green;
    color: aliceblue;
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    border-radius: 13px;
    transition: 0.5s;
    margin: 5px;
}
input:hover
{
    background-color:rgb(72, 128, 233);
    font-size: 14px;
}
#cont3
{
    font-family: Paprika ;
    font-size: 60px;
    color: rgb(72, 128, 233);
    font-weight: 600;
    /* position: center; */
    margin-left: 270px;
    margin-top: 60px;
}
#a
{
    animation: pop 1s;
}
#b
{
    animation: pop 1.5s;
}
#c
{
    animation: pop 2s;
}
#d
{
    animation: pop 2.5s;
}
#d
{
    animation: pop 3s;
}
#e
{
    animation: pop 3.5s;
}
#f
{
    animation: pop 4s;
}
@keyframes pop
{
    0%
    {
        filter: blur(60px);
        margin-left: -1000px;
    }
    100%
    {
        filter: blur(0px);
        margin-left: 0px;
    }
}
.main-container{
    width: 800px;
    height: 200px;
    padding: 24px 24px 24px 16px;
    position: relative;
    margin: 5% auto;
    background: #D4E4A5;
    overflow: hidden;
}
.btn-container{
    width: 255px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.main-btn{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 255px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.dasboard{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
/* footer starts from here */
.footer
{
    background-color: rgb(63, 63, 63);
    color: white;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0px;
}
#cont4
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 50px;
    margin-bottom: 0px;
}
#inst
{
    height: 75px;
    width: 75x;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#face
{
    height: 70px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#twit
{
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.brand
{
    font-family: Paprika;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.brand1
{
    font-family:  Zen Tokyo Zoo;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}  
#sub
{
    background-color: green;
}
sub:hover
{
    background-color:rgb(227, 248, 41);
    font-size: 14px;
    padding: 6px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 5px;
}
